element.style {
}
html, body {
    font-size: 16px;
}
html, body {
    height: 100%;
    min-height: 100%;
}
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, li, form, legend, label, table, header, footer, nav, section, figure {
    margin: 0;
    padding: 0;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html[Attributes Style] {
    -webkit-locale: "fr";
    direction: ltr;
}
user agent stylesheet
[dir="ltr" i] {
    unicode-bidi: isolate;
}
user agent stylesheet
:root {
    view-transition-name: root;
}
user agent stylesheet
html {
    display: block;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
element.style {
}
.row:not(.expanded) .row {
    max-width: none;
}
@media print, screen and (min-width: 67.5625em) {
    .row .row {
        margin-right: -1.25rem;
        margin-left: -1.25rem;
    }
}
@media print, screen and (min-width: 48em) {
    .row .row {
        margin-right: -0.75rem;
        margin-left: -0.75rem;
    }
}
.row .row {
    margin-right: -.5625rem;
    margin-left: -.5625rem;
}
.row {
    max-width: 85rem;
    margin-right: auto;
    margin-left: auto;
}
header, footer, nav, section, article, hgroup, figure {
    display: block;
}
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, li, form, legend, label, table, header, footer, nav, section, figure {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
section {
    display: block;
    unicode-bidi: isolate;
}
body {
    font-family: "Tiempos", Georgia, serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.7;
    color: #000;
    overflow-x: hidden;
}
html, body {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    background: #fefefe;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.7;
    color: #0a0a0a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
.row::before, .row::after {
    display: table;
    content: " ";
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
.section:after, section:after {
    content: "";
    display: table;
    clear: both;
}
.row::after {
    clear: both;
}
.row::before, .row::after {
    display: table;
    content: " ";
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;


    element.style {
    }
    .row .column.row.row {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }
    .column.row.row {
        float: none;
    }
    .row:not(.expanded) .row {
        max-width: none;
    }
    @media print, screen and (min-width: 67.5625em) {
        .row .row {
            margin-right: -1.25rem;
            margin-left: -1.25rem;
        }
    }
    @media print, screen and (min-width: 48em) {
        .row .row {
            margin-right: -0.75rem;
            margin-left: -0.75rem;
        }
    }
    .row .row {
        margin-right: -.5625rem;
        margin-left: -.5625rem;
    }
    @media (min-width: 67.5625rem) {
        .spacing--top-bottom {
            margin-top: 3.75rem;
            margin-bottom: 3.75rem;
        }
    }
    .spacing--top-bottom {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .column, .column:last-child:not(:first-child) {
        float: left;
        clear: none;
    }
    @media print, screen and (min-width: 67.5625em) {
        .column {
            padding-right: 1.25rem;
            padding-left: 1.25rem;
        }
    }
    @media print, screen and (min-width: 48em) {
        .column {
            padding-right: .75rem;
            padding-left: .75rem;
        }
    }
    .column {
        float: left;
        width: 100%;
        padding-right: .5625rem;
        padding-left: .5625rem;
    }
    .row {
        max-width: 85rem;
        margin-right: auto;
        margin-left: auto;
    }
    header, footer, nav, section, article, hgroup, figure {
        display: block;
    }
    html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, li, form, legend, label, table, header, footer, nav, section, figure {
        margin: 0;
        padding: 0;
    }
    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    *, *::before, *::after {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
    user agent stylesheet
    section {
        display: block;
        unicode-bidi: isolate;
    }
    body {
        font-family: "Tiempos", Georgia, serif;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1.7;
        color: #000;
        overflow-x: hidden;
    }
    html, body {
        font-size: 16px;
    }
    body {
        margin: 0;
        padding: 0;
        background: #fefefe;
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-weight: normal;
        line-height: 1.7;
        color: #0a0a0a;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    html {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 16px;
    }
    html {
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
    }
    .row::before, .row::after {
        display: table;
        content: " ";
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    *, *::before, *::after {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
    .section:after, section:after {
        content: "";
        display: table;
        clear: both;
    }
    .row::after {
        clear: both;
    }
    .row::before, .row::after {
        display: table;
        content: " ";
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    *, *::before, *::after {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }}