---
import BaseLayout from '../../layouts/BaseLayout.astro';
import HeroService from '../../components/HeroService.astro';

---
<BaseLayout title="Hero Service Test">
  <main>
    <HeroService
      title="Upstream"
      introduction="Shape your oil and gas strategies with unrivalled data, immediate insights and trusted fiscal coverage"
      backgroundImageUrl="https://www.woodmac.com/siteassets/frontify_media_download/photography/upstream/micro/micro_upstream_gettyimages-1210141189.jpg?rmode=crop&rxy=0.5,0.5"
      ctaButtonText="Get in touch"
      modalIframeUrl="https://go.woodmac.com/l/131501/2025-08-19/34pfln?ParentPageUrl=https%3A%2F%2Fwww.woodmac.com%2Findustry%2Fupstream%2F"
    />
  </main>
</BaseLayout>
