---
import BaseLayout from '@/layouts/BaseLayout.astro';
import NewHeader from '@/components/NewHeader.astro';
import MainContent from '@/components/MainContent.astro';
import NewFooter from '@/components/NewFooter.astro';
import { footerData } from '@/content/footer';
import HomepageVideoHero from '@/components/HomepageVideoHero.astro';
---
<BaseLayout title="Cogesto Consulting - Excellence & Performance">
  
  <NewHeader theme="transparent" />

  <main class="content start">
    <div class="homepage-gradients-wrapper">
      <HomepageVideoHero>
        <h1 class="hero-video__title">Cap sur l'Excellence</h1>
        <p class="hero-video__subtitle">
          Votre Partenaire en Conseil Stratégique pour une performance durable et une croissance maîtrisée en Afrique.
        </p>
        <a href="/expertises/" class="btn btn--primary"
          >Découvrir nos expertises</a
        >
      </HomepageVideoHero>
      <MainContent />
    </div>
  </main>

  <NewFooter {...footerData} />

</BaseLayout>