---
import BaseLayout from '@/layouts/BaseLayout.astro';
import NewHeader from '@/components/NewHeader.astro';
import MainContent from '@/components/MainContent.astro';
import NewFooter from '@/components/NewFooter.astro';
import { footerData } from '@/content/footer';
import HomepageVideoHero from '@/components/HomepageVideoHero.astro';
---
<BaseLayout title="New Index - Target Style Adoption">
  
  <NewHeader transparentMode={true} />

  <main class="content start">
    <div class="homepage-gradients-wrapper">
      <HomepageVideoHero>
        <h1 class="hero-video__title">Intelligence Connected</h1>
        <p class="hero-video__subtitle">
          Energy data and analytics solutions for an interconnected world — enhanced
          by AI and human intelligence
        </p>
        <a href="/product-portfolio/" class="btn btn--primary"
          >Discover our products</a
        >
      </HomepageVideoHero>
      <MainContent />
    </div>
  </main>

  <NewFooter {...footerData} />

</BaseLayout>