---
interface Link {
    text: string;
    href: string;
}

export interface Props {
    title: string;
    description: string;
    links: Link[];
}

const { title, description, links } = Astro.props;
---

<div id="accounts" class="nav-accounts">
    <div class="wrap">
        <div class="flex__equal-height">
            <div class="col small-12 medium-9 large-6 editor nav-accounts-intro">
                <div class="editor">
                    <h2>{title}</h2>
                    <p set:html={description}></p>
                </div>
            </div>

            <ul class="col small-12 pull-4--medium medium-9 pull-2--large large-4 nav-accounts-list">
                {links.map(link => (
                    <li class="nav-accounts-list__item">
                        <a href={link.href}>{link.text}</a>
                    </li>
                ))}
            </ul>
        </div>
    </div>
</div>
