---
---
<header id="menu-header">
    <!-- TOP-BAR (DESKTOP)-->
        <div class="nav-utility nav-utility--desktop">
            <div class="wrap relative flex-end">

                
    <a class="nav-utility__link" href="/about/contact-us/">Contact us</a>

    <a class="nav-utility__link" href="https://identity.woodmac.com/register">Registration</a>

<a href="" data-target="#accounts" class="nav-utility__link nav-utility__link--toggle js-toggle data-hj-suppress" role="button" aria-controls="accounts" aria-expanded="false">
        Sign in
    <svg class="toggle-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" aria-hidden="true" focusable="false"><g stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.28" clip-path="url(#0_155_398)"><path d="M8 .96v14.08M15.04 8H.96" aria-hidden="true" focusable="false"></path></g><defs><clipPath id="0_155_398"><path fill="#fff" d="M0 0h16v16H0z"></path></clipPath></defs></svg>
    <span class="visuallyhidden">Toggle subsection visibility</span>
</a>
            </div>
        </div>
    <div class="new-mega-menu banner sticky-desktop  ">
        <div class="wrap relative">
                <p class="banner__kicker" style="display: none">aac6c5dae78a</p>
            <a href="/" class="banner__logo">
                <img src="/assets/WoodMac_logo_interim_RGB.svg" alt="Wood Mackenzie logo">
            </a>

                <nav id="navigation" class="nav-primary">
                    <div class="nav-primary__content scroll-y-below-nav-large">
                        <!-- TOP-BAR (MOBILE)-->
                        <div class="nav-utility nav-utility--mobile">

                        </div>
                        <!-- /TOP-BAR -->
                        <div class="nav-primary__inner">
                            <ul class="nav-primary__list js-navigation">
                                <!-- Utility Links & AccountNavigation (MOBILE)-->
                                    <li class="nav-primary__item js-navigation__item nav-utility--mobile">
                                        <a class="mega-menu__nav-primary__item nav-utility__link" href="/about/contact-us/">Contact us</a>
                                    </li>

                                    <li class="mega-menu__nav-primary__item nav-primary__item js-navigation__item nav-utility--mobile">
                                        <a class="nav-utility__link" href="https://identity.woodmac.com/register">Registration</a>
                                    </li>

                                    <li class="mega-menu__nav-primary__item nav-primary__item js-navigation__item nav-utility--mobile">
                                        

    <button class="desktop-nav nav-primary__link " aria-haspopup="true" aria-expanded="false" data-text="Sign in">Sign in</button>
    <button aria-expanded="false" class="mobile-nav nav-primary__link js-toggle-local " data-target="#sub-0" aria-controls="sub-0" role="button">
        <span class="mega-menu__nav-primary__item-title">Sign in</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><g stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.28" clip-path="url(#0_173_348)" aria-hidden="true" focusable="false"><path d="M8 .96v14.08M15.04 8H.96" aria-hidden="true" focusable="false"></path></g><defs><clipPath id="0_173_348"><path fill="#fff" d="M0 0h16v16H0z"></path></clipPath></defs></svg>
        <span class="visuallyhidden">Toggle subsection visibility</span>
    </button>
    <div id="sub-0" class="nav-secondary js-navigation__secondary">

        <div class="nav-secondary__col medium-12 nav-secondary__fade">
            <ul class="nav-secondary__list">
                    <li class="mega-menu__nav-secondary__item">
                        <a href="https://identity.woodmac.com/sign-in?goto=https%3a%2f%2fidentity.woodmac.com%2fsign-in" class="mega-menu__nav-secondary__item__link">My WoodMac</a>
                    </li>
                    <li class="mega-menu__nav-secondary__item">
                        <a href="https://identity.woodmac.com/sign-in?goto=https%3a%2f%2flens.woodmac.com%2f" class="mega-menu__nav-secondary__item__link">Wood Mackenzie Lens®</a>
                    </li>
                    <li class="mega-menu__nav-secondary__item">
                        <a href="https://identity.woodmac.com/sign-in?goto=https%3a%2f%2flens-direct.woodmac.com%2f" class="mega-menu__nav-secondary__item__link">Lens Direct</a>
                    </li>
                    <li class="mega-menu__nav-secondary__item">
                        <a href="https://identity.woodmac.com/sign-in?goto=https%3a%2f%2fpower-and-renewables.woodmac.com%2f" class="mega-menu__nav-secondary__item__link">Power and Renewables</a>
                    </li>
                    <li class="mega-menu__nav-secondary__item">
                        <a href="/products/trading-analytics/login/" class="mega-menu__nav-secondary__item__link">Trading Analytics</a>
                    </li>
                    <li class="mega-menu__nav-secondary__item">
                        <a href="https://www.poweradvocate.com/login.jsp" class="mega-menu__nav-secondary__item__link">Supply Chain Analytics platform (previously PowerAdvocate)</a>
                    </li>
                    <li class="mega-menu__nav-secondary__item">
                        <a href="https://identity.woodmac.com/sign-in?goto=https%3a%2f%2faccount.woodmac.com%2fdetails" class="mega-menu__nav-secondary__item__link">Account and preferences management</a>
                    </li>
                    <li class="mega-menu__nav-secondary__item">
                        <a href="/products/training/" class="mega-menu__nav-secondary__item__link">Product training</a>
                    </li>
                    <li class="mega-menu__nav-secondary__item">
                        <a href="https://lens-help.woodmac.com/en/" class="mega-menu__nav-secondary__item__link">Help and support</a>
                    </li>
            </ul>
        </div>

    </div>

                                    </li>
                                <!-- Utility Links & AccountNavigation (MOBILE)-->


<li class="mega-menu__nav-primary__item nav-primary__item js-navigation__item">
    <button class="desktop-nav nav-primary__link" aria-haspopup="true" aria-expanded="false" data-target="#menuitem_802633-desktop" data-text="About Us">About Us</button>
    <button aria-expanded="false" class="mobile-nav nav-primary__link js-toggle-local" data-target="#menuitem_802633" aria-controls="menuitem_802633" role="button">
        <span class="mega-menu__nav-primary__item-title">About Us</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><g stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.28" clip-path="url(#0_173_348)" aria-hidden="true" focusable="false"><path d="M8 .96v14.08M15.04 8H.96" aria-hidden="true" focusable="false"></path></g><defs><clipPath id="0_173_348"><path fill="#fff" d="M0 0h16v16H0z"></path></clipPath></defs></svg>
        <span class="visuallyhidden">Toggle subsection visibility</span>
    </button>

    <!-- MOBILE -->
    <div id="menuitem_802633" class="just-mobile nav-secondary js-navigation__secondary">
            <div class="just-mobile mega-menu__nav-secondary__col medium-6 nav-secondary__fade">



<!-- MOBILE SECONDARY SECTION HEADER -->
    <a href="/about/overview/" class=" mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            About Us
        </span>
        <!--Removing Link Text on Mobile Navigation & adding empty span for the right icon-->
        <span class="mega-menu__link-label"></span>
        <img class="mega-menu__link-label-icon" src="/assets/icon-arrow--cobalt.svg">
    </a>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/our-story/" class="mega-menu__nav-secondary__item__link">Our Story</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/our-people/" class="mega-menu__nav-secondary__item__link">Our People</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/our-values/" class="mega-menu__nav-secondary__item__link">Our Values</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/our-customers/" class="mega-menu__nav-secondary__item__link">Our Customers</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/our-locations/" class="mega-menu__nav-secondary__item__link">Our Locations</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/contact-us/" class="mega-menu__nav-secondary__item__link">Contact us</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/woodmac-lab/" class="mega-menu__nav-secondary__item__link">WoodMac Lab - Share your feedback</a>
                </li>
</ul>


<!-- MOBILE SECONDARY SECTION HEADER -->
    <a href="/careers/overview/" class=" mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            Working At WoodMac
        </span>
        <!--Removing Link Text on Mobile Navigation & adding empty span for the right icon-->
        <span class="mega-menu__link-label"></span>
        <img class="mega-menu__link-label-icon" src="/assets/icon-arrow--cobalt.svg">
    </a>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/careers/your-career/" class="mega-menu__nav-secondary__item__link">Your Career</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/careers/life-at-woodmac/" class="mega-menu__nav-secondary__item__link">Life at WoodMac</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/careers/our-teams/" class="mega-menu__nav-secondary__item__link">Our Teams</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/our-culture/" class="mega-menu__nav-secondary__item__link">Our Culture</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/careers/early-careers/" class="mega-menu__nav-secondary__item__link">Early Careers</a>
                </li>
</ul>            </div>
    </div>
</li>

<li class="mega-menu__nav-primary__item nav-primary__item js-navigation__item">
    <button class="desktop-nav nav-primary__link" aria-haspopup="true" aria-expanded="false" data-target="#menuitem_802635-desktop" data-text="Industries &amp; Services">Industries &amp; Services</button>
    <button aria-expanded="false" class="mobile-nav nav-primary__link js-toggle-local" data-target="#menuitem_802635" aria-controls="menuitem_802635" role="button">
        <span class="mega-menu__nav-primary__item-title">Industries &amp; Services</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><g stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.28" clip-path="url(#0_173_348)" aria-hidden="true" focusable="false"><path d="M8 .96v14.08M15.04 8H.96" aria-hidden="true" focusable="false"></path></g><defs><clipPath id="0_173_348"><path fill="#fff" d="M0 0h16v16H0z"></path></clipPath></defs></svg>
        <span class="visuallyhidden">Toggle subsection visibility</span>
    </button>

    <!-- MOBILE -->
    <div id="menuitem_802635" class="just-mobile nav-secondary js-navigation__secondary">
            <div class="just-mobile mega-menu__nav-secondary__col medium-6 nav-secondary__fade">



<!-- MOBILE SECONDARY SECTION HEADER -->
    <a href="/product-portfolio/" class="cta-section-style mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            Explore our portfolio
        </span>
        <!--Removing Link Text on Mobile Navigation & adding empty span for the right icon-->
        <span class="mega-menu__link-label"></span>
        <img class="mega-menu__link-label-icon" src="/assets/icon-arrow--cobalt.svg">
    </a>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/upstream/" class="mega-menu__nav-secondary__item__link">Upstream</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/emissions-and-carbon-management/" class="mega-menu__nav-secondary__item__link">Emissions &amp; Carbon Management</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/energy-transition-scenarios-and-technologies/" class="mega-menu__nav-secondary__item__link">Energy Transition Scenarios &amp; Technologies</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/power-and-renewables/" class="mega-menu__nav-secondary__item__link">Power &amp; Renewables</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/gas-and-lng/" class="mega-menu__nav-secondary__item__link">Gas &amp; LNG</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/metals-and-mining/" class="mega-menu__nav-secondary__item__link">Metals &amp; Mining</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/oils-chemicals/" class="mega-menu__nav-secondary__item__link">Oils &amp; Chemicals</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/commodity-trading-analytics/" class="mega-menu__nav-secondary__item__link">Commodity Trading Analytics</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/products/supply-chain-analytics/" class="mega-menu__nav-secondary__item__link">Supply Chain Analytics</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/products/consulting/" class="mega-menu__nav-secondary__item__link">Consulting</a>
                </li>
</ul>            </div>
    </div>
</li>

<li class="mega-menu__nav-primary__item nav-primary__item js-navigation__item">
    <button class="desktop-nav nav-primary__link" aria-haspopup="true" aria-expanded="false" data-target="#menuitem_802637-desktop" data-text="Market Insights">Market Insights</button>
    <button aria-expanded="false" class="mobile-nav nav-primary__link js-toggle-local" data-target="#menuitem_802637" aria-controls="menuitem_802637" role="button">
        <span class="mega-menu__nav-primary__item-title">Market Insights</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><g stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.28" clip-path="url(#0_173_348)" aria-hidden="true" focusable="false"><path d="M8 .96v14.08M15.04 8H.96" aria-hidden="true" focusable="false"></path></g><defs><clipPath id="0_173_348"><path fill="#fff" d="M0 0h16v16H0z"></path></clipPath></defs></svg>
        <span class="visuallyhidden">Toggle subsection visibility</span>
    </button>

    <!-- MOBILE -->
    <div id="menuitem_802637" class="just-mobile nav-secondary js-navigation__secondary">
            <div class="just-mobile mega-menu__nav-secondary__col medium-6 nav-secondary__fade">



<!-- MOBILE SECONDARY SECTION HEADER -->
    <div class="mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            Market Insights, Blogs, podcasts &amp; newsletters
        </span>
    </div>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/market-insights/" class="mega-menu__nav-secondary__item__link">Market Insights</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/horizons/" class="mega-menu__nav-secondary__item__link">Horizons</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/blogs/" class="mega-menu__nav-secondary__item__link">Blogs</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/podcasts/" class="mega-menu__nav-secondary__item__link">Podcasts</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/market-insights/sign-up/" class="mega-menu__nav-secondary__item__link">The Inside Track</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/connected-book/" class="mega-menu__nav-secondary__item__link">Book - Connected</a>
                </li>
</ul>


<!-- MOBILE SECONDARY SECTION HEADER -->
    <div class="mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            Guides and featured insights
        </span>
    </div>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/market-insights/topics/energy-transition/" class="mega-menu__nav-secondary__item__link">Energy Transition</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/market-insights/topics/ccus/" class="mega-menu__nav-secondary__item__link">CCUS</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/market-insights/topics/electric-vehicles/" class="mega-menu__nav-secondary__item__link">Electric vehicles</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/market-insights/topics/us-trade-policy-and-tariffs/" class="mega-menu__nav-secondary__item__link">US trade policies and tariffs</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/news/feature/the-materials-transition/full-report/" class="mega-menu__nav-secondary__item__link">Material Transition</a>
                </li>
</ul>            </div>
    </div>
</li>

<li class="mega-menu__nav-primary__item nav-primary__item js-navigation__item">
    <button class="desktop-nav nav-primary__link" aria-haspopup="true" aria-expanded="false" data-target="#menuitem_802634-desktop" data-text="Events">Events</button>
    <button aria-expanded="false" class="mobile-nav nav-primary__link js-toggle-local" data-target="#menuitem_802634" aria-controls="menuitem_802634" role="button">
        <span class="mega-menu__nav-primary__item-title">Events</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><g stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.28" clip-path="url(#0_173_348)" aria-hidden="true" focusable="false"><path d="M8 .96v14.08M15.04 8H.96" aria-hidden="true" focusable="false"></path></g><defs><clipPath id="0_173_348"><path fill="#fff" d="M0 0h16v16H0z"></path></clipPath></defs></svg>
        <span class="visuallyhidden">Toggle subsection visibility</span>
    </button>

    <!-- MOBILE -->
    <div id="menuitem_802634" class="just-mobile nav-secondary js-navigation__secondary">
            <div class="just-mobile mega-menu__nav-secondary__col medium-6 nav-secondary__fade">



<!-- MOBILE SECONDARY SECTION HEADER -->
    <a href="/events/" class=" mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            Browse Events
        </span>
        <!--Removing Link Text on Mobile Navigation & adding empty span for the right icon-->
        <span class="mega-menu__link-label"></span>
        <img class="mega-menu__link-label-icon" src="/assets/icon-arrow--cobalt.svg">
    </a>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/worldwide-events/" class="mega-menu__nav-secondary__item__link">Wood Mackenzie Events</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/events/industries/" class="mega-menu__nav-secondary__item__link">Industry</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/events/global/" class="mega-menu__nav-secondary__item__link">Global events</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/events/asia/" class="mega-menu__nav-secondary__item__link">Asia</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/events/africa/" class="mega-menu__nav-secondary__item__link">Africa</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/events/europe/" class="mega-menu__nav-secondary__item__link">Europe</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/events/north-america/" class="mega-menu__nav-secondary__item__link">North America</a>
                </li>
</ul>            </div>
    </div>
</li>

<li class="mega-menu__nav-primary__item nav-primary__item js-navigation__item">
    <button class="desktop-nav nav-primary__link" aria-haspopup="true" aria-expanded="false" data-target="#menuitem_802638-desktop" data-text="Online Reports">Online Reports</button>
    <button aria-expanded="false" class="mobile-nav nav-primary__link js-toggle-local" data-target="#menuitem_802638" aria-controls="menuitem_802638" role="button">
        <span class="mega-menu__nav-primary__item-title">Online Reports</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><g stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.28" clip-path="url(#0_173_348)" aria-hidden="true" focusable="false"><path d="M8 .96v14.08M15.04 8H.96" aria-hidden="true" focusable="false"></path></g><defs><clipPath id="0_173_348"><path fill="#fff" d="M0 0h16v16H0z"></path></clipPath></defs></svg>
        <span class="visuallyhidden">Toggle subsection visibility</span>
    </button>

    <!-- MOBILE -->
    <div id="menuitem_802638" class="just-mobile nav-secondary js-navigation__secondary">
            <div class="just-mobile mega-menu__nav-secondary__col medium-6 nav-secondary__fade">



<!-- MOBILE SECONDARY SECTION HEADER -->
    <a href="/store/" class=" mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            Browse All Reports
        </span>
        <!--Removing Link Text on Mobile Navigation & adding empty span for the right icon-->
        <span class="mega-menu__link-label"></span>
        <img class="mega-menu__link-label-icon" src="/assets/icon-arrow--cobalt.svg">
    </a>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/power-and-renewables/" class="mega-menu__nav-secondary__item__link">Power and renewables</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/upstream-oil-and-gas/" class="mega-menu__nav-secondary__item__link">Upstream oil and gas</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/macroeconomics-risk-and-global-trends/" class="mega-menu__nav-secondary__item__link">Macroeconomics, risk and global trends</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/oil-and-gas-markets/" class="mega-menu__nav-secondary__item__link">Oil and gas markets</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/midstream-oil-and-gas/" class="mega-menu__nav-secondary__item__link">Midstream oil and gas</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/lng-reports/" class="mega-menu__nav-secondary__item__link">LNG</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/downstream-oil-refining/" class="mega-menu__nav-secondary__item__link">Downstream oil refining</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/coal/" class="mega-menu__nav-secondary__item__link">Coal</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/metals-markets/" class="mega-menu__nav-secondary__item__link">Metals markets</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/metals-costs/" class="mega-menu__nav-secondary__item__link">Metals costs</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/petrochemicals/" class="mega-menu__nav-secondary__item__link">Chemicals</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/wallmaps/" class="mega-menu__nav-secondary__item__link">Wallmaps for sale</a>
                </li>
</ul>            </div>
    </div>
</li>

<li class="mega-menu__nav-primary__item nav-primary__item js-navigation__item">
    <button class="desktop-nav nav-primary__link" aria-haspopup="true" aria-expanded="false" data-target="#menuitem_802636-desktop" data-text="Lens Platform">Lens Platform</button>
    <button aria-expanded="false" class="mobile-nav nav-primary__link js-toggle-local" data-target="#menuitem_802636" aria-controls="menuitem_802636" role="button">
        <span class="mega-menu__nav-primary__item-title">Lens Platform</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><g stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.28" clip-path="url(#0_173_348)" aria-hidden="true" focusable="false"><path d="M8 .96v14.08M15.04 8H.96" aria-hidden="true" focusable="false"></path></g><defs><clipPath id="0_173_348"><path fill="#fff" d="M0 0h16v16H0z"></path></clipPath></defs></svg>
        <span class="visuallyhidden">Toggle subsection visibility</span>
    </button>

    <!-- MOBILE -->
    <div id="menuitem_802636" class="just-mobile nav-secondary js-navigation__secondary">
            <div class="just-mobile mega-menu__nav-secondary__col medium-6 nav-secondary__fade">



<!-- MOBILE SECONDARY SECTION HEADER -->
    <a href="https://identity.woodmac.com/sign-in" class="cta-section-style mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            Already a customer? Log-in to access Lens
        </span>
        <!--Removing Link Text on Mobile Navigation & adding empty span for the right icon-->
        <span class="mega-menu__link-label"></span>
        <img class="mega-menu__link-label-icon" src="/assets/icon-arrow--cobalt.svg">
    </a>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/power-and-renewables/" class="mega-menu__nav-secondary__item__link">Power &amp; Renewables</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/hydrogen/" class="mega-menu__nav-secondary__item__link">Hydrogen</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/upstream/" class="mega-menu__nav-secondary__item__link">Upstream</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/subsurface/" class="mega-menu__nav-secondary__item__link">Subsurface</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/gas-lng/" class="mega-menu__nav-secondary__item__link">Gas &amp; LNG</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/metals-and-mining/" class="mega-menu__nav-secondary__item__link">Metals &amp; Mining</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/carbon/" class="mega-menu__nav-secondary__item__link">Carbon</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/emissions/" class="mega-menu__nav-secondary__item__link">Emissions</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/lens-energy-transition-scenarios/" class="mega-menu__nav-secondary__item__link">Energy Transition</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/direct/" class="mega-menu__nav-secondary__item__link">Lens Direct - API</a>
                </li>
</ul>            </div>
    </div>
</li>                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                     <a href="#navigation" class="mega-menu__btn-hamburger btn-hamburger btn--toggle js-toggle__header-group" title="Navigation menu" aria-label="Navigation menu" role="button" aria-controls="navigation" aria-expanded="false"></a> 

                    <button aria-label="" class="btn--search btn--toggle js-toggle__header-group" aria-controls="search-modal" aria-expanded="false" data-target="#search-modal" role="button">
                        <span class="btn--search__label">Search</span> 
                        <span class="btn--search__close">Close</span>
                    </button>
                </div>
        </div>


<div id="menuitem_802633-desktop" class="nav-secondary js-navigation__secondary">
        <!-- DESKTOP -->
        <div class="just-desktop wrap mega-menu__wrap flexbox">
            <div class="mega-menu__columns-container">



<div class="mega-menu__column-flex">
        <a href="/about/overview/" class="mega-menu__column-section-title-container  mega-menu__section-title-hover">
            <h3 class="mega-menu__column-section-title">About Us</h3>
                <div class="mega-menu__column-section-label-container">
                    <span class="mega-menu__column-section-label">Explore</span>
                    <img class="mega-menu__column-section-label-icon" src="/assets/icon-arrow--cobalt.svg">
                </div>
        </a>

    <div class="mega-menu__column-items-container">


<a href="/about/our-story/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Our Story</h3>
</a>

<a href="/about/our-people/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Our People</h3>
</a>

<a href="/about/our-values/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Our Values</h3>
</a>

<a href="/about/our-customers/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Our Customers</h3>
</a>

<a href="/about/our-locations/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Our Locations</h3>
</a>

<a href="/about/contact-us/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Contact us</h3>
</a>

<a href="/about/woodmac-lab/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">WoodMac Lab - Share your feedback</h3>
</a>    </div>
</div>


<div class="mega-menu__column-flex">
        <a href="/careers/overview/" class="mega-menu__column-section-title-container  mega-menu__section-title-hover">
            <h3 class="mega-menu__column-section-title">Working At WoodMac</h3>
                <div class="mega-menu__column-section-label-container">
                    <span class="mega-menu__column-section-label">Explore</span>
                    <img class="mega-menu__column-section-label-icon" src="/assets/icon-arrow--cobalt.svg">
                </div>
        </a>

    <div class="mega-menu__column-items-container">


<a href="/careers/your-career/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Your Career</h3>
</a>

<a href="/careers/life-at-woodmac/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Life at WoodMac</h3>
</a>

<a href="/careers/our-teams/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Our Teams</h3>
</a>

<a href="/about/our-culture/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Our Culture</h3>
</a>

<a href="/careers/early-careers/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Early Careers</h3>
</a>    </div>
</div>                        <div class="mega-menu__column-flex flex-end">


<div>
    <a href="/nslp/lets-share-the-sun/" class="promo-block-container" ga4-component-tracking="eyJldmVudCI6ImNvbXBvbmVudF9jbGljayIsInR5cGUiOiJNZWdhTWVudSBQcm9tb0NhcmQgQmxvY2siLCJ0aXRsZSI6IkxldCdzIFNoYXJlIHRoZSBTdW4iLCJ1cmwiOiIvbnNscC9sZXRzLXNoYXJlLXRoZS1zdW4vIn0=">
        <div class="badge badge--promo">
            Featured
        </div>
        <div class="title">
            Let's Share the Sun
        </div>
        <div class="description">
            Through our partnership, we’re transforming lives by delivering clean, reliable energy to communities in need.
        </div>
        <div class="image-container">
            <img class=" ls-is-cached lazyloaded" data-src="https://www.woodmac.com/siteassets/wm_brand/lets-share-the-sun/navigation-bar.png?rmode=crop&amp;rxy=0.5,0.5" src="https://www.woodmac.com/siteassets/wm_brand/lets-share-the-sun/navigation-bar.png?rmode=crop&amp;rxy=0.5,0.5">
        </div>
        <button class="btn btn--primary btn--arrow">
            <span>Learn more</span>
        </button>
    </a>
</div>                        </div>
            </div>
        </div>
        <!-- MOBILE -->
        <div class="just-mobile mega-menu__nav-secondary__col medium-6 nav-secondary__fade">



<!-- MOBILE SECONDARY SECTION HEADER -->
    <a href="/about/overview/" class=" mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            About Us
        </span>
        <!--Removing Link Text on Mobile Navigation & adding empty span for the right icon-->
        <span class="mega-menu__link-label"></span>
        <img class="mega-menu__link-label-icon" src="/assets/icon-arrow--cobalt.svg">
    </a>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/our-story/" class="mega-menu__nav-secondary__item__link">Our Story</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/our-people/" class="mega-menu__nav-secondary__item__link">Our People</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/our-values/" class="mega-menu__nav-secondary__item__link">Our Values</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/our-customers/" class="mega-menu__nav-secondary__item__link">Our Customers</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/our-locations/" class="mega-menu__nav-secondary__item__link">Our Locations</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/contact-us/" class="mega-menu__nav-secondary__item__link">Contact us</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/woodmac-lab/" class="mega-menu__nav-secondary__item__link">WoodMac Lab - Share your feedback</a>
                </li>
</ul>


<!-- MOBILE SECONDARY SECTION HEADER -->
    <a href="/careers/overview/" class=" mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            Working At WoodMac
        </span>
        <!--Removing Link Text on Mobile Navigation & adding empty span for the right icon-->
        <span class="mega-menu__link-label"></span>
        <img class="mega-menu__link-label-icon" src="/assets/icon-arrow--cobalt.svg">
    </a>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/careers/your-career/" class="mega-menu__nav-secondary__item__link">Your Career</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/careers/life-at-woodmac/" class="mega-menu__nav-secondary__item__link">Life at WoodMac</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/careers/our-teams/" class="mega-menu__nav-secondary__item__link">Our Teams</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/about/our-culture/" class="mega-menu__nav-secondary__item__link">Our Culture</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/careers/early-careers/" class="mega-menu__nav-secondary__item__link">Early Careers</a>
                </li>
</ul>        </div>
</div>

<div id="menuitem_802635-desktop" class="nav-secondary js-navigation__secondary">
        <!-- DESKTOP -->
        <div class="just-desktop wrap mega-menu__wrap flexbox">
            <div class="mega-menu__columns-container">



<div class="single-section-columns">
        <a href="/product-portfolio/" class="cta-section-style mega-menu__column-section-title-container mega-menu__section-title-hover">
            <h3 class="mega-menu__column-section-title">Explore our portfolio</h3>
                <div class="mega-menu__column-section-label-container">
                    <span class="mega-menu__column-section-label">Explore All</span>
                    <img class="mega-menu__column-section-label-icon" src="/assets/icon-arrow--cobalt.svg">
                </div>
        </a>

    <div class="mega-menu__columns-container mega-menu__columns-container-single">
            <div class="mega-menu__column small-6">
                <div class="mega-menu__column-items-container">


<a href="/industry/upstream/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Upstream</h3>
        <p class="mega-menu__column-item-description">
            Accelerate your oil and gas strategies with unrivalled real-time data, immediate insights and trusted fiscal coverage.
        </p>
</a>

<a href="/industry/emissions-and-carbon-management/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Emissions &amp; Carbon Management</h3>
        <p class="mega-menu__column-item-description">
            Diversify your carbon management portfolio with detailed CCUS, offset and emissions data, all on one place.
        </p>
</a>

<a href="/industry/energy-transition-scenarios-and-technologies/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Energy Transition Scenarios &amp; Technologies</h3>
        <p class="mega-menu__column-item-description">
            Get the trusted data and insight you need to thrive in a rapidly decarbonising energy landscape.
        </p>
</a>

<a href="/industry/power-and-renewables/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Power &amp; Renewables</h3>
        <p class="mega-menu__column-item-description">
            Accelerate the move to clean energy with low-carbon intelligence connecting assets, markets, and companies.
        </p>
</a>

<a href="/industry/gas-and-lng/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Gas &amp; LNG</h3>
        <p class="mega-menu__column-item-description">
            In-depth insights, supported by robust data offerings, thorough research, and comprehensive consulting services.
        </p>
</a>                </div>
            </div>
            <div class="mega-menu__column small-6">
                <div class="mega-menu__column-items-container">


<a href="/industry/metals-and-mining/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Metals &amp; Mining</h3>
        <p class="mega-menu__column-item-description">
            Access reliable research and analysis within and across the metals and mining industry to make strategic, operational and investment decisions.
        </p>
</a>

<a href="/industry/oils-chemicals/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Oils &amp; Chemicals</h3>
        <p class="mega-menu__column-item-description">
            Understand the connections from feedstocks to end products and how each fits.
        </p>
</a>

<a href="/industry/commodity-trading-analytics/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Commodity Trading Analytics</h3>
        <p class="mega-menu__column-item-description">
            Access real-time data and analytics in all major commodities with innovative data points and comprehensive insights to guide strategic and trading decisions.
        </p>
</a>

<a href="/products/supply-chain-analytics/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Supply Chain Analytics</h3>
        <p class="mega-menu__column-item-description">
            Identify and execute on cost savings, performance improvement, operational efficiency, and risk management opportunities across your organisation.
        </p>
</a>

<a href="/products/consulting/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Consulting</h3>
        <p class="mega-menu__column-item-description">
            Bespoke strategic, market and operational improvement consulting services in energy &amp; natural resources to suit your specific needs. 
        </p>
</a>                </div>
            </div>
    </div>
</div>                        <div class="mega-menu__column-flex flex-end">


<div>
    <a href="/products/consulting/" class="promo-block-container" ga4-component-tracking="eyJldmVudCI6ImNvbXBvbmVudF9jbGljayIsInR5cGUiOiJNZWdhTWVudSBQcm9tb0NhcmQgQmxvY2siLCJ0aXRsZSI6IlBvc2l0aW9uaW5nIHlvdSBmb3Igc3VjY2VzcyIsInVybCI6Ii9wcm9kdWN0cy9jb25zdWx0aW5nLyJ9">
        <div class="badge badge--promo">
            Consulting
        </div>
        <div class="title">
            Positioning you for success
        </div>
        <div class="description">
            Navigate market complexities and business issues with our expert team of industry consultants.
        </div>
        <div class="image-container">
            <img class=" ls-is-cached lazyloaded" data-src="https://www.woodmac.com/siteassets/frontify_media_download/photography/people/_micro/micro_people_gettyimages-1325134720.jpg?rmode=crop&amp;rxy=0.5,0.5" alt="Close up of two businesswoman having coffee in an office lobby." src="https://www.woodmac.com/siteassets/frontify_media_download/photography/people/_micro/micro_people_gettyimages-1325134720.jpg?rmode=crop&amp;rxy=0.5,0.5">
        </div>
        <button class="btn btn--primary btn--arrow">
            <span>Explore Consulting</span>
        </button>
    </a>
</div>                        </div>
            </div>
        </div>
        <!-- MOBILE -->
        <div class="just-mobile mega-menu__nav-secondary__col medium-6 nav-secondary__fade">



<!-- MOBILE SECONDARY SECTION HEADER -->
    <a href="/product-portfolio/" class="cta-section-style mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            Explore our portfolio
        </span>
        <!--Removing Link Text on Mobile Navigation & adding empty span for the right icon-->
        <span class="mega-menu__link-label"></span>
        <img class="mega-menu__link-label-icon" src="/assets/icon-arrow--cobalt.svg">
    </a>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/upstream/" class="mega-menu__nav-secondary__item__link">Upstream</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/emissions-and-carbon-management/" class="mega-menu__nav-secondary__item__link">Emissions &amp; Carbon Management</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/energy-transition-scenarios-and-technologies/" class="mega-menu__nav-secondary__item__link">Energy Transition Scenarios &amp; Technologies</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/power-and-renewables/" class="mega-menu__nav-secondary__item__link">Power &amp; Renewables</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/gas-and-lng/" class="mega-menu__nav-secondary__item__link">Gas &amp; LNG</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/metals-and-mining/" class="mega-menu__nav-secondary__item__link">Metals &amp; Mining</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/oils-chemicals/" class="mega-menu__nav-secondary__item__link">Oils &amp; Chemicals</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/industry/commodity-trading-analytics/" class="mega-menu__nav-secondary__item__link">Commodity Trading Analytics</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/products/supply-chain-analytics/" class="mega-menu__nav-secondary__item__link">Supply Chain Analytics</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/products/consulting/" class="mega-menu__nav-secondary__item__link">Consulting</a>
                </li>
</ul>        </div>
</div>

<div id="menuitem_802637-desktop" class="nav-secondary js-navigation__secondary">
        <!-- DESKTOP -->
        <div class="just-desktop wrap mega-menu__wrap flexbox">
            <div class="mega-menu__columns-container">



<div class="mega-menu__column-flex">
        <div class="mega-menu__column-section-title-container">
            <h3 class="mega-menu__column-section-title">Market Insights, Blogs, podcasts &amp; newsletters</h3>
        </div>

    <div class="mega-menu__column-items-container">


<a href="/market-insights/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Market Insights</h3>
        <p class="mega-menu__column-item-description">
            News and insights
        </p>
</a>

<a href="/horizons/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Horizons</h3>
        <p class="mega-menu__column-item-description">
            Explore the themes shaping the energy transition with our monthly thought leadership.
        </p>
</a>

<a href="/blogs/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Blogs</h3>
        <p class="mega-menu__column-item-description">
            Unique energy insight, spanning the renewables, energy and natural resources supply chain, to support strategic decision-making.
        </p>
</a>

<a href="/podcasts/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Podcasts</h3>
        <p class="mega-menu__column-item-description">
            Weekly discussions on the latest news and trends in energy, cleantech and renewables.
        </p>
</a>

<a href="/market-insights/sign-up/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">The Inside Track</h3>
        <p class="mega-menu__column-item-description">
            Our weekly round up of the lasted opinions, new, industry analysis from our global analysts.
        </p>
</a>

<a href="/connected-book/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Book - Connected</h3>
        <p class="mega-menu__column-item-description">
            Data and energy insight from our thought leaders, Jason Liu and Simon Flowers, Connected the book.
        </p>
</a>    </div>
</div>


<div class="mega-menu__column-flex">
        <div class="mega-menu__column-section-title-container">
            <h3 class="mega-menu__column-section-title">Guides and featured insights</h3>
        </div>

    <div class="mega-menu__column-items-container">


<a href="/market-insights/topics/energy-transition/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Energy Transition</h3>
        <p class="mega-menu__column-item-description">
            In depth analysis of the energy transition and the path to a low carbon future.
        </p>
</a>

<a href="/market-insights/topics/ccus/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">CCUS</h3>
        <p class="mega-menu__column-item-description">
            Explore the future growth potential for carbon capture, utilisation and storage.
        </p>
</a>

<a href="/market-insights/topics/electric-vehicles/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Electric vehicles</h3>
        <p class="mega-menu__column-item-description">
            Explore the growth trajectory for EVs and spot any possible bumps in the road.
        </p>
</a>

<a href="/market-insights/topics/us-trade-policy-and-tariffs/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">US trade policies and tariffs</h3>
        <p class="mega-menu__column-item-description">
            A look at the global economic impacts of new US trade measures.
        </p>
</a>

<a href="/news/feature/the-materials-transition/full-report/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Material Transition</h3>
        <p class="mega-menu__column-item-description">
            Explore trends around sustainability, recycling and the circular economy and their impact on materials markets. 
        </p>
</a>    </div>
</div>                        <div class="mega-menu__column-flex flex-end">


<div>
    <a href="/market-insights/topics/energy-transition-outlook/" class="promo-block-container" ga4-component-tracking="eyJldmVudCI6ImNvbXBvbmVudF9jbGljayIsInR5cGUiOiJNZWdhTWVudSBQcm9tb0NhcmQgQmxvY2siLCJ0aXRsZSI6IkVuZXJneSB0cmFuc2l0aW9uIG91dGxvb2siLCJ1cmwiOiIvbWFya2V0LWluc2lnaHRzL3RvcGljcy9lbmVyZ3ktdHJhbnNpdGlvbi1vdXRsb29rLyJ9">
        <div class="badge badge--promo">
            2025/26 update
        </div>
        <div class="title">
            Energy transition outlook
        </div>
        <div class="description">
            Wood Mackenzie's integrated modelling of energy transition scenarios
        </div>
        <div class="image-container">
            <img class=" ls-is-cached lazyloaded" data-src="https://www.woodmac.com/contentassets/2fbe1a2449604034b214ff3d48c3ae49/eto-menu.png?rmode=crop&amp;rxy=0.5,0.5" src="https://www.woodmac.com/contentassets/2fbe1a2449604034b214ff3d48c3ae49/eto-menu.png?rmode=crop&amp;rxy=0.5,0.5">
        </div>
        <button class="btn btn--primary btn--arrow">
            <span>Explore</span>
        </button>
    </a>
</div>                        </div>
            </div>
        </div>
        <!-- MOBILE -->
        <div class="just-mobile mega-menu__nav-secondary__col medium-6 nav-secondary__fade">



<!-- MOBILE SECONDARY SECTION HEADER -->
    <div class="mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            Market Insights, Blogs, podcasts &amp; newsletters
        </span>
    </div>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/market-insights/" class="mega-menu__nav-secondary__item__link">Market Insights</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/horizons/" class="mega-menu__nav-secondary__item__link">Horizons</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/blogs/" class="mega-menu__nav-secondary__item__link">Blogs</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/podcasts/" class="mega-menu__nav-secondary__item__link">Podcasts</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/market-insights/sign-up/" class="mega-menu__nav-secondary__item__link">The Inside Track</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/connected-book/" class="mega-menu__nav-secondary__item__link">Book - Connected</a>
                </li>
</ul>


<!-- MOBILE SECONDARY SECTION HEADER -->
    <div class="mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            Guides and featured insights
        </span>
    </div>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/market-insights/topics/energy-transition/" class="mega-menu__nav-secondary__item__link">Energy Transition</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/market-insights/topics/ccus/" class="mega-menu__nav-secondary__item__link">CCUS</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/market-insights/topics/electric-vehicles/" class="mega-menu__nav-secondary__item__link">Electric vehicles</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/market-insights/topics/us-trade-policy-and-tariffs/" class="mega-menu__nav-secondary__item__link">US trade policies and tariffs</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/news/feature/the-materials-transition/full-report/" class="mega-menu__nav-secondary__item__link">Material Transition</a>
                </li>
</ul>        </div>
</div>

<div id="menuitem_802634-desktop" class="nav-secondary js-navigation__secondary">
        <!-- DESKTOP -->
        <div class="just-desktop wrap mega-menu__wrap flexbox">
            <div class="mega-menu__columns-container">



<div class="single-section-columns">
        <a href="/events/" class=" mega-menu__column-section-title-container mega-menu__section-title-hover">
            <h3 class="mega-menu__column-section-title">Browse Events</h3>
                <div class="mega-menu__column-section-label-container">
                    <span class="mega-menu__column-section-label">Browse</span>
                    <img class="mega-menu__column-section-label-icon" src="/assets/icon-arrow--cobalt.svg">
                </div>
        </a>

    <div class="mega-menu__columns-container mega-menu__columns-container-single">
            <div class="mega-menu__column small-6">
                <div class="mega-menu__column-items-container">


<a href="/worldwide-events/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Wood Mackenzie Events</h3>
        <p class="mega-menu__column-item-description">
            Our global events bring together influential decision-makers from the energy sector.
        </p>
</a>

<a href="/events/industries/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Industry</h3>
        <p class="mega-menu__column-item-description">
            Browse Wood Mackenzie events by Industry 
        </p>
</a>                </div>
            </div>
            <div class="mega-menu__column small-6">
                <div class="mega-menu__column-items-container">


<a href="/events/global/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Global events</h3>
</a>

<a href="/events/asia/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Asia</h3>
</a>

<a href="/events/africa/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Africa</h3>
</a>

<a href="/events/europe/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Europe</h3>
</a>

<a href="/events/north-america/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">North America</h3>
</a>                </div>
            </div>
    </div>
</div>                        <div class="mega-menu__column-flex flex-end">


<div>
    <a href="/events/solar-energy-storage-summit/" class="promo-block-container" ga4-component-tracking="eyJldmVudCI6ImNvbXBvbmVudF9jbGljayIsInR5cGUiOiJNZWdhTWVudSBQcm9tb0NhcmQgQmxvY2siLCJ0aXRsZSI6IlNvbGFyICYgRW5lcmd5IFN0b3JhZ2UgU3VtbWl0IDIwMjYiLCJ1cmwiOiIvZXZlbnRzL3NvbGFyLWVuZXJneS1zdG9yYWdlLXN1bW1pdC8ifQ==">
        <div class="badge badge--promo">
            Featured event
        </div>
        <div class="title">
            Solar &amp; Energy Storage Summit 2026
        </div>
        <div class="description">
            29-30 April 2026, Denver
        </div>
        <div class="image-container">
            <img class=" ls-is-cached lazyloaded" data-src="https://www.woodmac.com/siteassets/frontify_media_download/photography/solar/macro_solar/macro_power_gettyimages-1150298776.jpg?rmode=crop&amp;rxy=0.5,0.5" alt="Two businessmen looking at a tablet with a solar panel on it and a solar panel." src="https://www.woodmac.com/siteassets/frontify_media_download/photography/solar/macro_solar/macro_power_gettyimages-1150298776.jpg?rmode=crop&amp;rxy=0.5,0.5">
        </div>
        <button class="btn btn--primary btn--arrow">
            <span>Find out more</span>
        </button>
    </a>
</div>                        </div>
            </div>
        </div>
        <!-- MOBILE -->
        <div class="just-mobile mega-menu__nav-secondary__col medium-6 nav-secondary__fade">



<!-- MOBILE SECONDARY SECTION HEADER -->
    <a href="/events/" class=" mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            Browse Events
        </span>
        <!--Removing Link Text on Mobile Navigation & adding empty span for the right icon-->
        <span class="mega-menu__link-label"></span>
        <img class="mega-menu__link-label-icon" src="/assets/icon-arrow--cobalt.svg">
    </a>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/worldwide-events/" class="mega-menu__nav-secondary__item__link">Wood Mackenzie Events</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/events/industries/" class="mega-menu__nav-secondary__item__link">Industry</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/events/global/" class="mega-menu__nav-secondary__item__link">Global events</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/events/asia/" class="mega-menu__nav-secondary__item__link">Asia</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/events/africa/" class="mega-menu__nav-secondary__item__link">Africa</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/events/europe/" class="mega-menu__nav-secondary__item__link">Europe</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/events/north-america/" class="mega-menu__nav-secondary__item__link">North America</a>
                </li>
</ul>        </div>
</div>

<div id="menuitem_802638-desktop" class="nav-secondary js-navigation__secondary">
        <!-- DESKTOP -->
        <div class="just-desktop wrap mega-menu__wrap flexbox">
            <div class="mega-menu__columns-container">



<div class="single-section-columns">
        <a href="/store/" class=" mega-menu__column-section-title-container mega-menu__section-title-hover">
            <h3 class="mega-menu__column-section-title">Browse All Reports</h3>
                <div class="mega-menu__column-section-label-container">
                    <span class="mega-menu__column-section-label">Browse</span>
                    <img class="mega-menu__column-section-label-icon" src="/assets/icon-arrow--cobalt.svg">
                </div>
        </a>

    <div class="mega-menu__columns-container mega-menu__columns-container-single">
            <div class="mega-menu__column small-6">
                <div class="mega-menu__column-items-container">


<a href="/store/industry-sector/power-and-renewables/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Power and renewables</h3>
</a>

<a href="/store/industry-sector/upstream-oil-and-gas/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Upstream oil and gas</h3>
</a>

<a href="/store/industry-sector/macroeconomics-risk-and-global-trends/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Macroeconomics, risk and global trends</h3>
</a>

<a href="/store/industry-sector/oil-and-gas-markets/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Oil and gas markets</h3>
</a>

<a href="/store/industry-sector/midstream-oil-and-gas/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Midstream oil and gas</h3>
</a>

<a href="/store/industry-sector/lng-reports/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">LNG</h3>
</a>                </div>
            </div>
            <div class="mega-menu__column small-6">
                <div class="mega-menu__column-items-container">


<a href="/store/industry-sector/downstream-oil-refining/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Downstream oil refining</h3>
</a>

<a href="/store/industry-sector/coal/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Coal</h3>
</a>

<a href="/store/industry-sector/metals-markets/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Metals markets</h3>
</a>

<a href="/store/industry-sector/metals-costs/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Metals costs</h3>
</a>

<a href="/store/industry-sector/petrochemicals/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Chemicals</h3>
</a>

<a href="/store/wallmaps/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Wallmaps for sale</h3>
</a>                </div>
            </div>
    </div>
</div>                        <div class="mega-menu__column-flex flex-end">


<div>
    <a href="/store/" class="promo-block-container" ga4-component-tracking="eyJldmVudCI6ImNvbXBvbmVudF9jbGljayIsInR5cGUiOiJNZWdhTWVudSBQcm9tb0NhcmQgQmxvY2siLCJ0aXRsZSI6IkJyb3dzZSByZXBvcnRzIiwidXJsIjoiL3N0b3JlLyJ9">
        <div class="badge badge--promo">
            Reports
        </div>
        <div class="title">
            Browse reports
        </div>
        <div class="description">
            Make better commercial decisions with our objective insights and analyses.
        </div>
        <div class="image-container">
            <img class=" ls-is-cached lazyloaded" data-src="https://www.woodmac.com/siteassets/frontify_media_download/photography/people/_micro/micro_people_gettyimages-969226050.jpg?rmode=crop&amp;rxy=0.5,0.5" alt="Modern chic business people working in an incredible modern &amp; original office space. A man uses his smartphone and laptop." src="https://www.woodmac.com/siteassets/frontify_media_download/photography/people/_micro/micro_people_gettyimages-969226050.jpg?rmode=crop&amp;rxy=0.5,0.5">
        </div>
        <button class="btn btn--primary btn--arrow">
            <span>Explore reports</span>
        </button>
    </a>
</div>                        </div>
            </div>
        </div>
        <!-- MOBILE -->
        <div class="just-mobile mega-menu__nav-secondary__col medium-6 nav-secondary__fade">



<!-- MOBILE SECONDARY SECTION HEADER -->
    <a href="/store/" class=" mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            Browse All Reports
        </span>
        <!--Removing Link Text on Mobile Navigation & adding empty span for the right icon-->
        <span class="mega-menu__link-label"></span>
        <img class="mega-menu__link-label-icon" src="/assets/icon-arrow--cobalt.svg">
    </a>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/power-and-renewables/" class="mega-menu__nav-secondary__item__link">Power and renewables</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/upstream-oil-and-gas/" class="mega-menu__nav-secondary__item__link">Upstream oil and gas</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/macroeconomics-risk-and-global-trends/" class="mega-menu__nav-secondary__item__link">Macroeconomics, risk and global trends</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/oil-and-gas-markets/" class="mega-menu__nav-secondary__item__link">Oil and gas markets</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/midstream-oil-and-gas/" class="mega-menu__nav-secondary__item__link">Midstream oil and gas</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/lng-reports/" class="mega-menu__nav-secondary__item__link">LNG</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/downstream-oil-refining/" class="mega-menu__nav-secondary__item__link">Downstream oil refining</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/coal/" class="mega-menu__nav-secondary__item__link">Coal</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/metals-markets/" class="mega-menu__nav-secondary__item__link">Metals markets</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/metals-costs/" class="mega-menu__nav-secondary__item__link">Metals costs</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/industry-sector/petrochemicals/" class="mega-menu__nav-secondary__item__link">Chemicals</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/store/wallmaps/" class="mega-menu__nav-secondary__item__link">Wallmaps for sale</a>
                </li>
</ul>        </div>
</div>

<div id="menuitem_802636-desktop" class="nav-secondary js-navigation__secondary">
        <!-- DESKTOP -->
        <div class="just-desktop wrap mega-menu__wrap flexbox">
            <div class="mega-menu__columns-container">



<div class="single-section-columns">
        <a href="https://identity.woodmac.com/sign-in" class="cta-section-style mega-menu__column-section-title-container mega-menu__section-title-hover">
            <h3 class="mega-menu__column-section-title">Already a customer? Log-in to access Lens</h3>
                <div class="mega-menu__column-section-label-container">
                    <span class="mega-menu__column-section-label">Log-in</span>
                    <img class="mega-menu__column-section-label-icon" src="/assets/icon-arrow--cobalt.svg">
                </div>
        </a>

    <div class="mega-menu__columns-container mega-menu__columns-container-single">
            <div class="mega-menu__column small-6">
                <div class="mega-menu__column-items-container">


<a href="/lens/power-and-renewables/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Power &amp; Renewables</h3>
        <p class="mega-menu__column-item-description">
            An integrated view of global renewable and conventional power data and insights across projects, technologies and markets.
        </p>
</a>

<a href="/lens/hydrogen/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Hydrogen</h3>
        <p class="mega-menu__column-item-description">
            Maximise investment opportunities across the hydrogen, ammonia and methanol value chain.
        </p>
</a>

<a href="/lens/upstream/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Upstream</h3>
        <p class="mega-menu__column-item-description">
            Industry renowned data and analysis to build resilient, sustainable portfolios.
        </p>
</a>

<a href="/lens/subsurface/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Subsurface</h3>
        <p class="mega-menu__column-item-description">
            Identify advantaged barrels and support critical investment decisions with an integrated view of commercial and technical data.
        </p>
</a>

<a href="/lens/gas-lng/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Gas &amp; LNG</h3>
        <p class="mega-menu__column-item-description">
            The single source for exploring industry data alongside leading expertise, analyses, and modelling insights.
        </p>
</a>                </div>
            </div>
            <div class="mega-menu__column small-6">
                <div class="mega-menu__column-items-container">


<a href="/lens/metals-and-mining/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Metals &amp; Mining</h3>
        <p class="mega-menu__column-item-description">
            Unlock robust data and new unique perspectives across key mined commodities needed to assess the mining landscape.
        </p>
</a>

<a href="/lens/carbon/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Carbon</h3>
        <p class="mega-menu__column-item-description">
            Analysis of CCUS and offset opportunities to shape decarbonisation strategies.
        </p>
</a>

<a href="/lens/emissions/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Emissions</h3>
        <p class="mega-menu__column-item-description">
            Decision intelligence to simplify the complexity of emissions risk management.
        </p>
</a>

<a href="/lens/lens-energy-transition-scenarios/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Energy Transition</h3>
        <p class="mega-menu__column-item-description">
            Trusted modelling capabilities to navigate the energy transition
        </p>
</a>

<a href="/lens/direct/" class="mega-menu__column-item">
    <h3 class="mega-menu__column-item-title">Lens Direct - API</h3>
        <p class="mega-menu__column-item-description">
            Seamlessly integrate Wood Mackenzie data into your own proprietary systems with Lens Direct API services.
        </p>
</a>                </div>
            </div>
    </div>
</div>                        <div class="mega-menu__column-flex flex-end">


<div>
    <a href="/lens/subsurface/" class="promo-block-container" ga4-component-tracking="eyJldmVudCI6ImNvbXBvbmVudF9jbGljayIsInR5cGUiOiJNZWdhTWVudSBQcm9tb0NhcmQgQmxvY2siLCJ0aXRsZSI6IkxlbnMgU3Vic3VyZmFjZSBNb2RlbGxpbmciLCJ1cmwiOiIvbGVucy9zdWJzdXJmYWNlLyJ9">
        <div class="badge badge--promo">
            Product Update
        </div>
        <div class="title">
            Lens Subsurface Modelling
        </div>
        <div class="description">
            Combining technical and commercial data with cutting-edge AI technology to enable you to make smarter, quicker decisions about capital allocation.
        </div>
        <div class="image-container">
            <img class=" ls-is-cached lazyloaded" data-src="https://www.woodmac.com/siteassets/lens/lens-subsurface/valuations-screenshot.png?rmode=crop&amp;rxy=0.5,0.5" src="https://www.woodmac.com/siteassets/lens/lens-subsurface/valuations-screenshot.png?rmode=crop&amp;rxy=0.5,0.5">
        </div>
        <button class="btn btn--primary btn--arrow">
            <span>Find out more</span>
        </button>
    </a>
</div>                        </div>
            </div>
        </div>
        <!-- MOBILE -->
        <div class="just-mobile mega-menu__nav-secondary__col medium-6 nav-secondary__fade">



<!-- MOBILE SECONDARY SECTION HEADER -->
    <a href="https://identity.woodmac.com/sign-in" class="cta-section-style mega-menu__nav-secondary__title">
        <span class="mega-menu__nav-secondary__title-link icon">
            Already a customer? Log-in to access Lens
        </span>
        <!--Removing Link Text on Mobile Navigation & adding empty span for the right icon-->
        <span class="mega-menu__link-label"></span>
        <img class="mega-menu__link-label-icon" src="/assets/icon-arrow--cobalt.svg">
    </a>

<!-- MOBILE SECONDARY LIST -->
<ul class="mega-menu__list-container">
    <!-- MOBILE SECONDARY LIST ITEMS -->
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/power-and-renewables/" class="mega-menu__nav-secondary__item__link">Power &amp; Renewables</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/hydrogen/" class="mega-menu__nav-secondary__item__link">Hydrogen</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/upstream/" class="mega-menu__nav-secondary__item__link">Upstream</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/subsurface/" class="mega-menu__nav-secondary__item__link">Subsurface</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/gas-lng/" class="mega-menu__nav-secondary__item__link">Gas &amp; LNG</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/metals-and-mining/" class="mega-menu__nav-secondary__item__link">Metals &amp; Mining</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/carbon/" class="mega-menu__nav-secondary__item__link">Carbon</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/emissions/" class="mega-menu__nav-secondary__item__link">Emissions</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/lens-energy-transition-scenarios/" class="mega-menu__nav-secondary__item__link">Energy Transition</a>
                </li>
                <li class="mega-menu__nav-secondary__item">
                    <a href="/lens/direct/" class="mega-menu__nav-secondary__item__link">Lens Direct - API</a>
                </li>
</ul>        </div>
</div>    </div>
</header>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const header = document.querySelector('#menu-header');
    if (!header) {
      console.error("Header element with ID 'menu-header' not found.");
      return;
    }

    // --- Desktop Menu Logic ---
    const desktopButtons = document.querySelectorAll('button.desktop-nav.nav-primary__link');
    const allNavPanels = document.querySelectorAll('.nav-secondary.js-navigation__secondary');

    function closeAllMenus() {
      allNavPanels.forEach(panel => {
        panel.classList.remove('is-active');
      });
      desktopButtons.forEach(button => {
        button.setAttribute('aria-expanded', 'false');
      });
    }

    desktopButtons.forEach(button => {
      button.addEventListener('click', (e) => {
        e.preventDefault();
        const targetId = button.getAttribute('data-target');
        const targetPanel = document.querySelector(targetId);
        
        if (!targetPanel) return;

        const isAlreadyActive = targetPanel.classList.contains('is-active');

        closeAllMenus();

        if (!isAlreadyActive) {
          targetPanel.classList.add('is-active');
          button.setAttribute('aria-expanded', 'true');
        }
      });
    });

    // --- Mobile Sub-menu Logic ---
    const mobileToggleButtons = document.querySelectorAll('button.mobile-nav.js-toggle-local');
    mobileToggleButtons.forEach(button => {
      button.addEventListener('click', (e) => {
        e.preventDefault();
        const targetId = button.getAttribute('data-target');
        const targetPanel = document.querySelector(targetId);
        if (!targetPanel) return;

        const isExpanded = button.getAttribute('aria-expanded') === 'true';
        button.setAttribute('aria-expanded', !isExpanded);
        targetPanel.classList.toggle('is-active');
      });
    });

    // --- Main Hamburger Menu Logic ---
    const hamburgerButton = document.querySelector('.mega-menu__btn-hamburger');
    const navigation = document.querySelector('#navigation');
    if (hamburgerButton && navigation) {
      hamburgerButton.addEventListener('click', (e) => {
        e.preventDefault();
        navigation.classList.toggle('is-active');
        const isExpanded = hamburgerButton.getAttribute('aria-expanded') === 'true';
        hamburgerButton.setAttribute('aria-expanded', !isExpanded);
      });
    }

    // --- Close on outside click ---
    document.addEventListener('click', (e) => {
        if (!header.contains(e.target)) {
            closeAllMenus();
        }
    });
  });
</script>