---
export interface NavItem {
  text: string;
  href: string;
}

interface Props {
  items: NavItem[];
  currentPage: string; // Should be Astro.url.pathname
}

const { items, currentPage } = Astro.props;
---

<div id="nav-tabs__wrapper">
    <nav class="nav-tabs z10 relative nav-sticky-content">
        <div class="wrap">
            <ul class="nav-tabs__list">
                {items.map(item => (
                    <li class={`nav-tabs__item ${item.href === currentPage ? 'active' : ''}`.trim()}>
                        <a class="nav-tabs__link" href={item.href} data-text={item.text}>{item.text}</a>
                    </li>
                ))}
            </ul>
        </div>
    </nav>
</div>
