---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
  title: string;
  id?: string;
}

const { title, id, ...rest } = Astro.props;
---
<div class:list={["module bg-light-100"]} id={id} {...rest}>
    <div class="wrap">
        <div class="col small-12 large-8 push-4--large">
            <h2 class="h300 core-branding-cobalt push--bottom--16" set:html={title}></h2>
            <div class="editor">
                <slot />
            </div>
        </div>
    </div>
</div>

