---
import NavLink from '../atoms/NavLink.astro'

export interface Props {
  navLinks: Array<{
    text: string
    href: string
  }>
}

const { navLinks } = Astro.props
---

<nav class="hidden md:flex space-x-8">
  {navLinks.map((link) => (
    <NavLink href={link.href} text={link.text} />
  ))}
</nav>

