<div id="form" class="col small-12 large-3 panel-aside zCustom9999 panel-top sticky-form is-sticky" style="width: 247.75px;">
    <div class="soft push--bottom u-shadow bg-primary-color" id="form">
        <h2 class="alpha push-half--bottom white">Get Ed Crooks' Energy Pulse in your inbox every week</h2>
        <div>
            <button aria-label="Toggle visibility of contact form" class="btn btn--close btn--primary btn--block js-toggle-local btn--light" aria-controls="inlineform-49ddee1c-1042-4ef2-bf5e-691b543f4f67" aria-expanded="false" data-target="#inlineform-49ddee1c-1042-4ef2-bf5e-691b543f4f67" title="Scroll to the top and open the form" role="button">
                <span class="form--is-collapsed" data-cta-location="ctaform" data-cta-type="form">
                    Sign up
                </span>
                <span class="form--is-expanded">
                    Close
                </span>
            </button>
            <div id="inlineform-49ddee1c-1042-4ef2-bf5e-691b543f4f67" class="panel-toggle hide-title panel-toggle--expanded-form u-shadow bg-white">
                <div>
                    <form method="post" novalidate="novalidate" data-f-metadata="" aria-labelledby="49ddee1c-1042-4ef2-bf5e-691b543f4f67_label" enctype="multipart/form-data" class="EPiServerForms ValidationSuccess form light-form-style form--expanded" data-f-type="form" id="49ddee1c-1042-4ef2-bf5e-691b543f4f67">
                        <input type="hidden" class="Form__Element Form__SystemElement FormHidden FormHideInSummarized" name="__FormGuid" value="49ddee1c-1042-4ef2-bf5e-691b543f4f67" data-f-type="hidden">
                        <input type="hidden" class="Form__Element Form__SystemElement FormHidden FormHideInSummarized" id="hiddenFieldRequestType" value="" data-f-type="hidden">
                        <input type="hidden" class="Form__Element Form__SystemElement FormHidden FormHideInSummarized" name="__FormHostedPage" value="940259" data-f-type="hidden">
                        <input type="hidden" class="Form__Element Form__SystemElement FormHidden FormHideInSummarized" name="__FormLanguage" value="en" data-f-type="hidden">
                        <input type="hidden" class="Form__Element Form__SystemElement FormHidden FormHideInSummarized" name="__FormCurrentStepIndex" value="0" data-f-type="hidden">
                        <input type="hidden" class="Form__Element Form__SystemElement FormHidden FormHideInSummarized" name="__FormSubmissionId" value="" data-f-type="hidden">
                        <h2 id="modal-label--" class="Form__Title alpha push-half--bottom primary-color">Sign up </h2>
                        <div class="Form__Status gamma push--top push-quarter--bottom primary-color">
                            <div role="status" class="Form__Status__Message hide" data-f-form-statusmessage="">
                            </div>
                            <div class="form-steps-message flexbox direction-column align-center push--bottom" style="display: none;">
                                <svg width="91" height="91" viewBox="0 0 91 91" fill="none" xmlns="http://www.w3.org/2000/svg" class="push-double--bottom">
                                    <rect width="91" height="91" rx="45" fill="#0024ff"></rect>
                                    <path d="M25.7881 46.9239L40.5563 63.2598L66.4226 28.976" stroke="#f7f7f7" stroke-width="3" stroke-linecap="square"></path>
                                </svg>
                                <div data-f-form-statusmessage="">
                                </div>
                                <button type="button" name="Close contact form" value="close" class="push-double--top js-close-form btn btn--primary">Done</button>
                            </div>
                        </div>
                        <div>
                            <div data-f-mainbody="" class="Form__MainBody">
                                <ul id="__field_" data-f-type="step" data-f-element-name="__field_" class="Form__Element FormStep Form__Element--NonData" data-f-stepindex="0" data-f-element-nondata="">
                                    <li class="Form__Element FormTextbox push-half--bottom ValidationRequired" data-f-element-name="__field_412561" data-f-type="textbox">
                                        <label for="7a8273e8-3d2b-488a-8456-3e084ae354e1suffix" class="form-control-label">First name</label>
                                        <input name="__field_412561" id="7a8273e8-3d2b-488a-8456-3e084ae354e1suffix" type="text" class="FormTextbox__Input" aria-describedby="__field_412561_desc" placeholder="First name" title="First name" required="" aria-required="true" data-f-datainput="" autocomplete="off">
                                        <span class="Form__Element__ValidationError hidden" data-f-linked-name="__field_412561" data-f-validationerror="" id="__field_412561_desc" role="alert"></span>
                                    </li>
                                    <li class="Form__Element FormTextbox push-half--bottom ValidationRequired" data-f-element-name="__field_412562" data-f-type="textbox">
                                        <label for="4eb87a8a-a3c4-480a-9a76-a1563f834c0fsuffix" class="form-control-label">Last name</label>
                                        <input name="__field_412562" id="4eb87a8a-a3c4-480a-9a76-a1563f834c0fsuffix" type="text" class="FormTextbox__Input" aria-describedby="__field_412562_desc" placeholder="Last name" title="Last name" required="" aria-required="true" data-f-datainput="" autocomplete="off">
                                        <span class="Form__Element__ValidationError hidden" data-f-linked-name="__field_412562" data-f-validationerror="" id="__field_412562_desc" role="alert"></span>
                                    </li>
                                    <li class="Form__Element FormTextbox push-half--bottom ValidationRequired" data-f-element-name="__field_412546" data-f-type="textbox">
                                        <label for="20cbe5a9-6da4-4e9b-a59d-3ef81f95a5easuffix" class="form-control-label">Email</label>
                                        <input name="__field_412546" id="20cbe5a9-6da4-4e9b-a59d-3ef81f95a5easuffix" type="text" class="FormTextbox__Input" aria-describedby="__field_412546_desc" placeholder="Business Email" title="Email" required="" aria-required="true" data-f-datainput="" autocomplete="off">
                                        <span class="Form__Element__ValidationError hidden" data-f-linked-name="__field_412546" data-f-validationerror="" id="__field_412546_desc" role="alert"></span>
                                    </li>
                                    <li class="Form__Element FormTextbox push-half--bottom ValidationRequired" data-f-element-name="__field_562062" data-f-type="textbox">
                                        <label for="7af71533-4fe6-4ab9-b60d-69415bcde022suffix" class="form-control-label">Company</label>
                                        <input name="__field_562062" id="7af71533-4fe6-4ab9-b60d-69415bcde022suffix" type="text" class="FormTextbox__Input" aria-describedby="__field_562062_desc" placeholder="Company" title="Company Name" required="" aria-required="true" data-f-datainput="" autocomplete="off">
                                        <span class="Form__Element__ValidationError hidden" data-f-linked-name="__field_562062" data-f-validationerror="" id="__field_562062_desc" role="alert"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script is:inline>
    // All the javascript from the form will go here.
    // I am omitting the javascript for brevity, but it should be copied from the source.
</script>
