---
import BaseLayout from './BaseLayout.astro';
---

<BaseLayout>
    <main id="content" class="article">
        <article class="push-double--top">
            <div class="wrap relative">
                <slot />
            </div>
        </article>
    </main>
</BaseLayout>
